<div class="reset_page_wrapper">
    <div class="md-card" id="reset_card">
        <div class="md-card-content large-padding" id="reset_password">
            <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
            <form id="resetPasswordForm" ng-submit="resetPassword($event)">
                <div class="uk-form-row parsley-row">
                    <label for="reset_password_control">Your new password</label>
                    <input class="md-input" type="password" id="reset_password_control"
                        name="password" ng-model="password" md-input 
                        required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
                        data-parsley-pattern-message="The new password must contains at least eight characters, 
                        one uppercase letter, one lowercase letter,one number, and one special character."
                        />
                </div>
                <div class="uk-form-row parsley-row">
                    <label for="reset_confirm">Confirm password</label>
                    <input class="md-input" type="password" id="reset_confirm" 
                        name="confirmation" ng-model="confirmation" md-input 
                        required
                        data-parsley-equalto="#reset_password_control"
                        data-parsley-equalto-message="Confirmation does not match with the new password."
                        />
                </div>
                <div class="uk-form-row"
                  vc-recaptcha
                  key="'6Lce9BMUAAAAAHJ3LuR7WIi_TYVN4HVfk7d9PQGI'"
                  ng-model="recaptcha.reset">
                </div>
                <div class="uk-margin-medium-top">
                    <button type="submit" class="md-btn md-btn-primary md-btn-block">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
