<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-2-10">
                        <label for="meal_search_name">Meal Name</label>
                        <input type="text" class="md-input" id="meal_search_name" ng-model="filter.name" md-input>
                    </div>
                    <div class="uk-width-medium-1-10">
                        <label for="meal_search_calories">Calories</label>
                        <input type="text" class="md-input" id="meal_search_calories" ng-model="filter.calories" md-input>
                    </div>
                    <div class="uk-width-medium-3-10">
                        <div class="uk-margin-small-top">
                            <selectize config="filter_type_config" options="filter_type_options" ng-model="multiSelectData.type" position="bottom"></selectize>
                        </div>
                    </div>
                    <div class="uk-width-medium-2-10">
                        <div class="uk-margin-small-top">
                            <input type="text" class="md-input" config="{ create:false, maxItems: 1 }" options="filter_pageSize" ng-model="pageSize" selectize>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        {{ filter_type }}
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-nowrap uk-table-align-vertical">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Calories</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Rating</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="meal in meals_data | filter: filter | multiSelectFilter: multiSelectData | itemsPerPage: pageSize">
                                        <td class="uk-width-1-10"><img class="img_thumb" ng-src="{{ meal.image }}" alt=""></td>
                                        <td class="uk-width-2-10 uk-text-large"><a ng-click="changeSelectedItem($event,meal)" href="#" data-uk-modal="{target:'#modal_details'}">{{ meal.name }}</a></td>
                                        <td class="uk-width-1-10 uk-text-large">{{ meal.description }}</a>
                                        </td>
                                        <td class="uk-width-1-10 uk-text-nowrap">{{ meal.calories | number }}</td>
                                        <td class="uk-width-1-10">{{ meal.type }}</td>
                                        <td class="uk-width-1-10 uk-text-nowrap">
                                            <span class="uk-badge uk-badge-success" ng-if="meal.status == 'available'">available</span>
                                            <span class="uk-badge uk-badge-warning" ng-if="meal.status == 'not available'">not available</span>
                                        </td>
                                        <td class="uk-text-nowrap">{{ meal.rating }}</td>
                                        <td class="uk-text-nowrap">
                                            <a href="#" ng-click="changeSelectedItem($event,meal)" data-uk-modal="{target:'#modal_details'}"><i class="md-icon material-icons md-24">&#xE8F4;</i></a>
                                            <a href="#" ng-click="changeSelectedItem($event,meal)" data-uk-modal="{target:'#modal_edit'}"><i class="md-icon material-icons md-24">&#xE3C9;</i></a>
                                            <a href="#" ng-click="remove($event,meal)" data-uk-modal="{target:'#modal_delete'}"><i class="md-icon material-icons md-24">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls boundary-links="true" template-url="app/templates/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-fab-wrapper md-fab-speed-dial">
    <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}" title="Menu" md-fab-speed-dial><i class="material-icons">&#xE5D2;</i></a>
    <div class="md-fab-wrapper-small">
        <a class="md-fab md-fab-small md-fab-success" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Add New Meal" data-uk-modal="{target:'#modal_add'}" ng-click="clearForm($event)"><i class="material-icons">&#xE145;</i></a>
        <a class="md-fab md-fab-small md-fab-warning" href="javascript:void(0)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Refresh" ng-click="refresh($event)"><i class="material-icons">&#xE5D5;</i></a>
    </div>
</div>

<!-- MODALS -->

<!-- EDIT -->
<div id="modal_edit" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large md-card">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text uk-text-warning">
                Edit Meal
            </h3>
        </div>
        <form ng-submit="update($event)" class="uk-form-stacked" id="edit_form" name="edit_form">
            <div class="md-card-content large-padding">
                <div class="uk-grid uk-grid-divider uk-grid-medium">
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label for="meal_add_name_control">Meal Name</label>
                            <input type="text" class="md-input" name="meal_add_name_control" id="meal_add_name_control" ng-model="meal.name" md-input />
                        </div>
                        <div class="uk-form-row">
                            <label for="meal_add_calories_control">Calories</label>
                            <input type="number" disabled class="md-input" name="meal_add_calories_control" id="meal_add_calories_control" ng-model="meal.calories" md-input />
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Ingredients</label>
                            <input config="config.ingredients" options="options.ingredients" ng-model="ingredients" name="meal_add_ingredients_control" selectize />
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Type</label>
                            <input config="{ create:false, maxItems: 1 }" options="options.type" ng-model="meal.type" name="meal_add_type_control" selectize />
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Status</label>
                            <input config="{ create:false, maxItems: 1 }" options="options.status" ng-model="meal.status" name="meal_add_status_control" selectize />
                        </div>
                        <div class="uk-form-row">
                            <h3 class="heading_a uk-margin-small-bottom">
                              Upload New Image
                          </h3>
                            <input type="file" class="dropify" ng-model="image" name="image" ngf-select ngf-drop ngf-accept="'image/*'" ngf-multiple="false" />
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label for="meal_add_remarks_control">Remarks</label>
                            <textarea class="md-input" name="meal_add_remarks_control" id="meal_add_remarks_control" cols="30" rows="2" ng-model="meal.remarks" md-input textarea-autosize></textarea>
                        </div>
                        <div class="uk-form-row">
                            <label for="meal_add_description_control">Description</label>
                            <textarea class="md-input" name="meal_add_description_control" id="meal_add_description_control" cols="30" rows="2" ng-model="meal.description" md-input textarea-autosize></textarea>
                        </div>
                        <div class="uk-form-row">
                            <h3 class="heading_a uk-margin-small-bottom">
                              New Image
                          </h3>
                            <img ngf-src="image" class="img_medium">
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-form-row">
                        <button type="submit" class="md-btn md-btn-primary md-btn-wave-light">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- ADD -->
<div id="modal_add" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large md-card">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text uk-text-success">
                New Meal
            </h3>
        </div>
        <form ng-submit="create($event)" class="uk-form-stacked" id="add_form" name="add_form">
            <div class="md-card-content large-padding">
                <div class="uk-grid uk-grid-divider uk-grid-medium">
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label for="meal_add_name_control">Meal Name</label>
                            <input type="text" class="md-input" name="meal_add_name_control" id="meal_add_name_control" ng-model="meal.name" md-input />
                        </div>
                        <div class="uk-form-row">
                            <label for="meal_add_calories_control">Calories</label>
                            <input type="number" disabled class="md-input" name="meal_add_calories_control" id="meal_add_calories_control" ng-model="meal.calories" md-input />
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Ingredients</label>
                            <input config="config.ingredients" options="options.ingredients" ng-model="ingredients" name="meal_add_ingredients_control" selectize />
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Type</label>
                            <input config="{ create:false, maxItems: 1 }" options="options.type" ng-model="meal.type" name="meal_add_type_control" selectize />
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Status</label>
                            <input config="{ create:false, maxItems: 1 }" options="options.status" ng-model="meal.status" name="meal_add_status_control" selectize />
                        </div>
                        <div class="uk-form-row">
                            <h3 class="heading_a uk-margin-small-bottom">
                              Upload Image
                          </h3>
                            <input type="file" class="dropify" ng-model="image" name="image" ngf-select ngf-drop ngf-accept="'image/*'" ngf-multiple="false" />
                        </div>
                    </div>
                    <div class="uk-width-large-1-2">
                        <div class="uk-form-row">
                            <label for="meal_add_remarks_control">Remarks</label>
                            <textarea class="md-input" name="meal_add_remarks_control" id="meal_add_remarks_control" cols="30" rows="2" ng-model="meal.remarks" md-input textarea-autosize></textarea>
                        </div>
                        <div class="uk-form-row">
                            <label for="meal_add_description_control">Description</label>
                            <textarea class="md-input" name="meal_add_description_control" id="meal_add_description_control" cols="30" rows="2" ng-model="meal.description" md-input textarea-autosize></textarea>
                        </div>
                        <div class="uk-form-row">
                            <h3 class="heading_a uk-margin-small-bottom">
                              Image Preview
                          </h3>
                            <img ngf-src="image" class="img_medium">
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-form-row">
                        <button type="submit" class="md-btn md-btn-primary md-btn-wave-light">Save New Meal</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- DETAILS -->
<div id="modal_details" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large md-card">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text uk-text-primary">
                Details
            </h3>
        </div>
        <div class="md-card-content large-padding">
            <div class="uk-grid uk-grid-divider uk-grid-medium">
                <div class="uk-width-large-1-2">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-large-1-3">
                            <span class="uk-text-muted uk-text-small">Meal Name</span>
                        </div>
                        <div class="uk-width-large-2-3">
                            <span class="uk-text-large uk-text-middle">{{ meal.name }}</span>
                        </div>
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-large-1-3">
                            <span class="uk-text-muted uk-text-small">Calories</span>
                        </div>
                        <div class="uk-width-large-2-3">
                            <span class="uk-text-large uk-text-middle">{{ meal.calories }}</span>
                        </div>
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-large-1-3">
                            <span class="uk-text-muted uk-text-small">Type</span>
                        </div>
                        <div class="uk-width-large-2-3">
                            {{ meal.type }}
                        </div>
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-large-1-3">
                            <span class="uk-text-muted uk-text-small">Status</span>
                        </div>
                        <div class="uk-width-large-2-3">
                            {{ meal.status }}
                        </div>
                    </div>
                    <hr class="uk-grid-divider uk-hidden-large">
                </div>
                <div class="uk-width-large-1-2">
                    <p>
                        <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom">Remarks</span> {{ meal.remarks }}
                        <!--<span class="uk-badge uk-margin-small-right" ng-class="{'uk-badge-success': $index != 1, 'uk-badge-primary': $index == 1}" ng-repeat="tag in product.tags"></span>-->
                    </p>
                    <hr class="uk-grid-divider">
                    <p>
                        <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom">Description</span> {{ meal.description }}
                    </p>
                    <h3 class="heading_a uk-margin-small-bottom">
                      Image
                  </h3>
                    <img ng-src="meal.image" ng-if="meal.image" class="img_medium">
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-2-10">
                    <span class="uk-display-block uk-margin-small-top uk-text-large">Ingredients</span>
                </div>
                <div class="uk-width-medium-8-10">
                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th class="uk-width-1-3">Ingredient</th>
                                <th class="uk-width-1-3">Description</th>
                                <th class="uk-width-1-3 uk-text-right">Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ingredient in meal.mealItems">
                                <td>{{ingredient.name}}</td>
                                <td>{{ingredient.description}}</td>
                                <td class="uk-text-right">{{ingredient.calories | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
